<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="shortcut icon" href="/assets/favicon.ico">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
		</head>
		<body>
			<nav>
	    		<ul>
					<li><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT ME</a></li>
					<li><a href="/projects">PROJECTS</a></li>
					<li><a href="/reports">REPORTS</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li>Contact me:</li>
					<li><a href="https://github.com/jgoeszoom">GitHub</a></li>
					<li><a href="https://www.linkedin.com/in/josephgozum/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
