<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">HOME</a></li>
	        		<li><a href="https://drive.google.com/file/d/1VZN0PaxpwYZnfcG8D8Xj_7S2Agd18CEA/view" target="_blank">RESUME</a></li>

				<li><a href="mailto:joseph.f.gozum@gmail.com">EMAIL</a></li>
	        		<li><a href="https://github.com/jgoeszoom" target="_blank">GITHUB</a></li>
				<li><a href="https://www.linkedin.com/in/josephgozum/" target="_blank">LINKEDIN</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		Created by Joseph Gozum
				</ul>
			</footer>
		</body>
	</html>
